<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IDataAccessService" />
        <binding name="WSHttpBinding_IBasketService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_IDataAccessService" contract="DataAccessServiceReference.IDataAccessService"
          name="WSHttpBinding_IDataAccessService">
        <identity>
          <userPrincipalName value="WIN-9K58AI60R7F\zzadmin" />
        </identity>
      </endpoint>

      <endpoint address="http://localhost:8070/" binding="wsHttpBinding"
               bindingConfiguration="WSHttpBinding_IBasketService" contract="BasketServiceReference.IBasketService"
               name="WSHttpBinding_IBasketService">
        <identity>
          <userPrincipalName value="WIN-9K58AI60R7F\zzadmin" />
        </identity>
      </endpoint>
      
    </client>
  </system.serviceModel>
  
</configuration>