<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
      
        <services>
            <service name="TestApp.Service.DataAccessService">
                <endpoint address="TestApp.Service.DataAccessService" binding="wsHttpBinding"
                    contract="TestApp.Contract.IDataAccessService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/TestApp.Service/DataAccessService/" />
                    </baseAddresses>
                </host>
            </service>
          
            <service name="TestApp.Service.BasketService">
                <endpoint address="TestApp.Service.BasketService" binding="wsHttpBinding" 
                          contract="TestApp.Contract.IBasketService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/TestApp.Service/BasketService/" />
                    </baseAddresses>
                </host>
            </service>
          
        </services>
    </system.serviceModel>
</configuration>
